<div class="container-fluid">
  <div class="container">
    <!-- Navbar -->
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
      <!-- Navbar content -->
      <div class="alert alert-danger" role="alert">
        values and submit button will work only when phpAdmin server is start
      </div>
      <a class="navbar-brand">Insurance</a>

      <form class="form-inline">
        <a href="/insert" class="btn btn-primary" type="submit">Insert</a>
      </form>
    </nav>
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
